/* Your code here */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.card-1{
  background-color: transparent;
  position:relative;
  border-radius: 0.2in;
}
body{
  background-color: rgb(160, 150, 150);
}
h1{
  color: rgba(49, 41, 41, 0.488);
  font-family: Caveat;
}
div{
  color: rgba(79, 76, 76, 0.446);
}
.attribution{
  font-family: Caveat;
}
.sign{
  height: 2in;
  width: .8in;
  background-color: ;
  display: inline-block;
  
  
}
.brand {
  display: inline-block;
  width: 1in;
}
.sig{ 
  display: inline-block;
  rotate: 270deg;
  height: 2in;
  width: 1in;
  
}
.card-1 .foreground{
  position: absolute;
  top: 0;
  left:0;
  width: 3.5in;
  height:2in;
  padding-left: 80px;
  padding-top: 138px;
  font-family: Caveat;
  font-size: larger;
  color:black;
  
}


p{
  margin-top:-20px;;
}

.thi{
  rotate:90deg;
  display: inline-block;
}

