/* Your code here */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.card-1 {
    background-color: transparent;
    position: relative;
    border-radius: 0.2in;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
body{
  background-color: rgb(160, 150, 150);
}
h1{
  color: rgba(49, 41, 41, 0.488);
  font-family: Caveat;
}
div{
  color: rgba(79, 76, 76, 0.446);
}
.attribution{
  font-family: Caveat;
}
.right{
  height: 2in;
  background-color:  rgb(160, 150, 150);
  border-radius: .2in;

}
.brand {
  width: .7in;
  background-color:  rgb(160, 150, 150);
  margin-bottom: 10px;
  height: 50px;
  border-right: 1px solid black;
  padding-bottom: 10px;
  padding-right: 20px;
}
.sig {
    height: 1in;
    width: .5in;
    background-color:  rgb(160, 150, 150);
    align-self: center;
}

.sig img {
  rotate: 270deg;
  transform-origin: bottom;
  align-self:;
  
}

p{
  margin-top:-20px;
}


h2{
  font-size: smaller;
}

.con{
  background-color:  rgb(160, 150, 150);
  width: 1.5in;
  padding-left: 20px;
  transform-origin: bottom;
  margin-top: 85px;

}


.card-2{
   background-color: rgb(54, 74, 50);
   border-radius: .2in;
}

.right img{
  margin-left: 61px;
}
}